<section class="container content-section">
  <div class="row">
    <div class="col">
      <h2>Getting Here</h2>
      <p>
        For those flying in, the closest airport to the venue and to us is San Jose Mineta International Airport.
      </p>
    </div>
  </div>
</section>

<section class="container content-section">
  <div class="row">
    <div class="col">
      <h2>Where to Stay</h2>
      <p>
        <ul>
        <li>Hyatt House San Jose/Cupertino<br></li>
        <li>Aloft Cupertino<br></li>
        <li>Maple Tree Inn<br></li>
        <li>Wild Palms, a JdV by Hyatt Hotel<br></li>
        <li>The Domain Hotel<br></li>
        <li>Hampton Inn & Suite Sunnyvale-Sillicon Valley, CA<br></li>
        <li>Wafer 450 Hotel<br></li>
        <li>Avatar Hotel Santa Clara, Tapestry Collection by Hilton<br></li>
        <li>Quality Inn & Suites Silicon Valley<br></li>
        <li>Best Western University Inn Santa Clara<br></li>
        </ul>

      </p>
<!--       <p>
        <strong>
          Please note - rooms are only available through our room block for the following nights:
          <br>
          Thursday, May 26 (Hilton only)
          <br>
          Friday, May 27
          <br>
          Saturday, May 28
          <br>
          Sunday, May 29
        </strong>
      </p> -->
<!--       <p>
        The reservation links below will only allow you to book rooms for the above nights.
        If you'd like to stay for any nights other than the ones listed, please call the hotel directly and
        reference the <em>Vashi-Baclig wedding</em>.
      </p> -->
<!--       <div class="row">
        {% for hotel in site.hotels.chi %}
          <div class="col-sm-6 ">
            {% include hotel_thumbnail.html hotel=hotel %}
          </div>
        {% endfor %}
      </div> -->
    </div>
  </div>
</section>





<section class="container content-section">
  <div class="row">
    <div class="col">
      <h2>Getting to the Venue</h2>
      <p>
        Traveling by car to get to Sanborn County Park is likely the easiest way to reach our wedding ceremony. We highly recommend that you pre-download the map for the area, as cell signals tend to weaken or even disappear entirely as you approach the park.


      </p>
    </div>
  </div>
</section>

<section class="container content-section">
  <div class="row">
    <!-- <div class="col-lg-offset-2 col-lg-8"> -->
    <div class="col">
      <h2>Getting Around in the Bay Area</h2>
      <p>
        While traveling by car is likely the most convenient option for getting around the Bay Area, there are some public transportation options available as well.
      </p>

      <div class="row">

          <h4>
            Uber & Lyft
          </h4>

          <p>
            Lyft tends to be our app-of-choice as it’s usually cheaper than Uber and we earn 10x points with Meishan’s Chase credit card, but we've heard that Uber offers deals with American Express credit cards.
          </p>
        <!-- </div> -->

        <div class="row">

          <h4>
            South Bay
          </h4>
<!--           <h4>
              VTA
          </h4> -->
          <p>
           <b>VTA</b> (Santa Clara Valley Transportation Authority) offers bus and light rail services throughout the South Bay.
          </p>

        </div>

        <div class="row">
          <h4>
            Bay Area

          </h4>


          <div class="row">
<!--             <div class="col-lg-offset-2 col-lg-8">
            </div> -->
            <!-- <div class="col text-left"> -->
              <b>
                  BART
              </b>
              <ul>
                The Bay Area Rapid Transit (BART) is actually not that rapid as how it's named, but it connects the city with the East Bay and the Peninsula. It can also take you from as far north as Richmond/Berkeley to as far south as North San Jose.
              </ul>


            <!-- </div> -->
            <!-- <div class="col text-left"> -->
              <b>
                  CalTrain
              </b>
              <ul>
                It donnects the South Bay with San Francisco and the Peninsula. It's a convenient option for 
              </ul>
            <!-- </div> -->
          </div>


        <div class="row">
          <h4>
            Within San Francisco
          </h4>
          <div class="row">
<!--             <div class="col-lg-offset-2 col-lg-8">
            </div> -->
            <!-- <div class="col text-left"> -->
              <b>
                  BART
              </b>
              <ul>
                BART also goes through places in San Francisco.
              </ul>

            <!-- </div> -->
            <!-- <div class="col text-left"> -->
              <b>
                  MUNI
              </b>
              <ul>
                Muni is the city's public transit system includes buses, light rail, streetcars, and cable cars (San Francisco’s iconic transportation!!)
              </ul>
            <!-- </div> -->
          </div>




<!--           <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <p class="col-xs-offset-1 col-xs-10">
                  <img class="img-responsive" src="{{site.baseurl}}assets/img/uber-black.png">
                </p>
                <div class="clearfix"></div>
                <p class="col-xs-12 text-center">
                  <a href="https://itunes.apple.com/us/app/uber/id368677368" class="btn btn-default btn-sm">
                    iPhone
                  </a>
                  <a href="https://play.google.com/store/apps/details?id=com.ubercab" class="btn btn-default btn-sm">
                    Android
                  </a>
                </p>
                <p class="col-xs-12 text-center">
                  Code: <code>uberchrisandnikita</code>
                </p>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row">
                <p class="col-xs-offset-3 col-xs-6">
                  <img class="img-responsive" src="{{site.baseurl}}assets/img/lyft.svg" width="100%">
                </p>
                <div class="clearfix"></div>
                <p class="col-xs-12 text-center">
                  <a href="https://itunes.apple.com/us/app/lyft-taxi-bus-app-alternative/id529379082" class="btn btn-default btn-sm">
                    iPhone
                  </a>
                  <a href="https://play.google.com/store/apps/details?id=me.lyft.android"  class="btn btn-default btn-sm">
                    Android
                  </a>
                </p>
                <p class="col-xs-12 text-center">
                  Code: <code>CHRISANDNIKITA</code>
                </p>
              </div>
            </div>
          </div> -->
        </div>
      </div>

      </div>
    </div>
  </div>
</section>


<section class="container content-section">
  <div class="row">
    <!-- <div class="col-lg-offset-2 col-lg-8"> -->
      <h2>Other Things to Do</h2>
      <div class="col">
        <ul>
        <li><font size="4">A</font> hike before the wedding at Sanborn County Park probably wouldn’t be a bad idea?<br></li>
        <li><font size="4">S</font>wing Dancing Friday night at For Dancer Only in Sunnyvale. <br></li>
        <li><font size="4">A</font> hike/bike ride at Alviso Marina County Park. There are places to birdwatch, read about local Alviso history. Outside of the park, there are also some antique structures near the marina, ranging from the abandoned canning factory to some empty rotten Victorian houses as if it were a ghost town. The marsh by the marina is a good place to walk about and watch the wildlife and hear the howling wind. <br></li>
        <li><font size="4">V</font>isit Castle Rock State Park. Saratoga Gap and Ridge Loop are one of my favorite trails at the park. This ~5-mile trail offers a perfect mix of scenic views and refreshing shade, making it ideal for hot summer days. Along the way, you'll pass highlights like Goat Rock Overlook and Varian Peak. If you're lucky, you might even catch sight of rock climbers scaling the cliffs!<br></li>
        <li><font size="4">S</font>an Jose Museum of Quilts & Textiles</li>
      </ul>

    </div>
  </div>

</section>
