---
layout: default
---
{% capture style %}
    {% if page.image_position %} background-position: {{ page.image_position }};{% endif %}
    background-image: url({{site.baseurl}}/{{ page.billboard_image }})
{% endcapture %}

<header class="billboard billboard-others billboard-header"
        style="{{style}}">
  <h1 class="billboard-text">
    {{ page.title }}
  </h1>
</header>

<section class="container content-section">
  <div class="row justify-content-center">
    <div class="col-lg-8">
{{ content }}
    </div>
  </div>
</section>

{% for story in site.moments %}
<section id="ourstory" class="container content-section text-center">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <br>
            <br>
            {{ story.content | markdownify }}
        </div>
    </div>
</section>
    {% if story.image %}
        {% capture style %}
            {% if story.image_position %} background-position: {{ story.image_position }};{% endif %}
            background-image: url({{ story.image }})
        {% endcapture %}

        <section class="billboard billboard-moments"
                 style="{{ style }};"
        ></section>
    {% endif %}
{% endfor %}
